.logo {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font: bold;
  cursor: pointer;
  font-size: 48px;
}

.logo span {
  color: rgb(220, 39, 106);
}

.links {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 150px;
}
.link {
  color: white;
  transition: all 0.3s ease;
  margin: auto;
  width: 150px;
}

.link:hover {
  scale: 105%;
  color: rgb(220, 39, 106);
}

.footerFragment {
  display: flex;
  justify-content: center;
  gap: 80px;
  color: white;
  border-top: solid 2px rgb(65, 65, 65);
  margin: 0 150px 100px 150px;
  padding-top: 100px;
  align-items: center;
}
.link {
  font-size: 18px;
}

.Link {
  font-size: 18px;
}

.Link:hover {
  color: rgb(220, 39, 106);
}

.footerLogo {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerLinks {
  height: 110px;
  display: grid;
  align-items: center;
}
