img {
  width: 500px;
  position: absolute;
  top: 15%;
  left: 55%;
  /* z-index: 5; */
}

.oval {
  width: 600px;
  height: 350px;
  background-color: transparent;
  border: 4px solid rgb(220, 39, 106);
  border-radius: 100%;
  position: absolute;
  top: 15%;
  left: 52%;
  transform: rotate(35deg);
  /* z-index: 1; */
}

.btnTrans {
  background-color: transparent;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 5px;
  color: rgb(220, 39, 106);
  border: none;
  margin-left: 1rem;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid rgb(220, 39, 106);
  font-weight: 500;
}

.mainText {
  color: white;
  position: absolute;
  left: 7.5%;
  top: 17%;
}

.mainText h1 {
  font-size: 48px;
}

.mainText p {
  font-size: 20px;
}
