.mainImg {
  width: 500px;
  position: absolute;
  top: 200px;
  left: 1200px;
}

.oval {
  width: 600px;
  height: 350px;
  background-color: transparent;
  border: 4px solid rgb(220, 39, 106);
  border-radius: 100%;
  position: absolute;
  top: 200px;
  left: 1150px;
  transform: rotate(35deg);
}

.btnTrans {
  background-color: transparent;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 5px;
  color: rgb(220, 39, 106);
  border: none;
  margin-left: 1rem;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid rgb(220, 39, 106);
  font-weight: 500;
  transition: all ease 0.3s;
}

.btnTrans:hover {
  scale: 110%;
}

.mainText {
  color: white;
  position: absolute;
  left: 150px;
  top: 220px;
}

.mainText h1 {
  font-size: 48px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mainText p {
  font-size: 20px;
}
.main {
  height: 600px;
  z-index: 100;
}

.btn {
  transition: all ease 0.3s;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.btn:hover {
  scale: 110%;
}
