.title {
  color: white;
  font-weight: bold;

  font-size: 24px;
}

.rowFragment {
  /* align-items: center;
  align-content: center; */
  /* text-align: center; */
  margin-left: 150px;
  margin-right: 150px;
}

.slider {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  scroll-behavior: smooth;
  overflow: hidden;
  position: relative;
}

.sliderButtonLeft {
  background: white;
  border-radius: 100%;
  position: absolute;
  opacity: 0.8;
  cursor: pointer;
  z-index: 10;
  visibility: hidden;
  left: -10px;
}

.sliderButtonRight {
  background: white;
  border-radius: 100%;
  position: absolute;
  opacity: 0.8;
  cursor: pointer;
  z-index: 10;
  visibility: hidden;
  right: -10px;
}

.sliderButtonRight:hover {
  background: rgb(220, 39, 106);
}

.sliderButtonLeft:hover {
  background: rgb(220, 39, 106);
}

.rowBar {
  position: relative;
  display: flex;
  align-items: center;
}
.rowBar:hover .sliderButtonLeft {
  visibility: visible;
}

.rowBar:hover .sliderButtonRight {
  visibility: visible;
}
