.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font: bold;
  cursor: pointer;
  font-size: 36px;
}

.logo span {
  color: rgb(220, 39, 106);
}

.navBtn {
  border: none;
  margin-left: 1rem;
}

.searchBar {
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 7rem;
  border-radius: 5px;
  background-color: rgb(45, 45, 54);
  border: none;
  color: white;
}

.searchBar::placeholder {
  color: white;
  font-size: 16px;
}
.navLinks {
  display: flex;
}
.Link {
  color: rgb(255, 255, 255);
  margin-left: 3rem;
  text-decoration: none;
}

.Link:active {
  color: rgb(220, 39, 106);
}

.Link h2 {
  font-weight: 400;
}
