.questionFragment {
  margin: 100px 150px 0 150px;
  padding-bottom: 100px;
  display: flex;
  border-bottom: solid 1px #414141;
}
.title {
  color: white;
  font-weight: bold;
  font-size: 26px;
}

.question {
  border-bottom: solid 2px rgb(65, 65, 65);
}

.question h2 {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.question p {
  color: rgb(204, 204, 204);
  font-size: 18px;
  margin-bottom: 15px;
}
.questionTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.crossIcon {
  color: white;
  margin-top: 15px;
  cursor: pointer;
}
.questionMark {
  color: rgb(220, 39, 106);
}

.questions {
  width: 55%;
}

.questionMarkPlace {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  rotate: 5deg;
}
