.cards {
  display: inline-block;
  transition: transform 0.2s;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin: 0.19rem;
  cursor: pointer;
  min-width: 200px;
  height: 300px;
  z-index: 0;
  border: 1px solid rgb(99, 99, 99);
}

.cards:hover {
  transform: scale(1.1);
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border: 1px solid #dc276a;
}

.cards__img {
  height: 300px;
}

.cards__overlay {
  position: absolute;
  padding: 0 1rem 1rem 1rem;
  bottom: 0px;
  height: 290px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  background-image: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 1));
  opacity: 0;
  transition: all 0.2s;
}

.cards__overlay:hover {
  opacity: 1;
  transform: scale(1.1);
}

.card__title {
  font-weight: 900;
  font-size: 1rem;
  margin-bottom: 0.4rem;
  color: white;
}

.card__runtime {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
  color: white;
}

.card__rating {
  float: right;
}

.card__description {
  font-style: italic;
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
  color: white;
}

.like {
  position: absolute;
  top: 0.7rem;
  left: 0.7rem;
  color: white;
  z-index: 10;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.cards:hover .like {
  opacity: 1;
  transform: scale(1.1);
}
