.btn {
  background-color: rgb(220, 39, 106);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  border: none;

  font-size: 16px;
  cursor: pointer;
  border: 2px solid rgb(220, 39, 106);
  font-weight: 500;
}

.transparant {
  color: blue;
}
